@using AntDesign
<Drawer Visible="@Visible" Placement="DrawerPlacement.Right" Title="@($"Student")" OnClose="ClosePopupAsync" Width="500">
    <Form Model="@Student"
          OnFinish="@(IsDetails ? () => {} : async () => await CreateOrUpdateAsync())"
          LabelAlign="AntLabelAlignType.Left"
          Layout="FormLayout.Horizontal"
          LabelCol="new ColLayoutParam { Span = 6 }"
          WrapperCol="new ColLayoutParam { Span = 18 }">
        @if (IsDetails)
        {
        <FormItem Label="Student Id">
            <Input @bind-Value="Student.Id" Placeholder="Enter student code" ReadOnly />
        </FormItem>

        <FormItem Label="Full Name">
            <Input @bind-Value="Student.studentName" Placeholder="Enter full name" ReadOnly />
        </FormItem>

        <FormItem Label="Birthday">
            <DatePicker @bind-Value="Student.studentBirthday" Format="dd/MM/yyyy" ReadOnly />
        </FormItem>

        <FormItem Label="Address">
            <TextArea @bind-Value="Student.studentAddress" Placeholder="Enter address" MinRows="3" MaxRows="6" ReadOnly />
            </FormItem>

        <FormItem Label="Class" >
                <Select DataSource="@classrooms"
                        @bind-Value="@context.classroomID"
                        ItemValue="c => c.Id"
                        ItemLabel="c => c.NameClassroom"
                        Style="width: 120px"
                        ReadOnly>
                </Select>
            </FormItem>
        } 
        else
        {
        <FormItem Label="Full Name">
            <Input @bind-Value="Student.studentName" Placeholder="Enter full name"/>
        </FormItem>

        <FormItem Label="Birthday">
            <DatePicker @bind-Value="Student.studentBirthday" Format="dd/MM/yyyy" />
        </FormItem>

        <FormItem Label="Address">
            <TextArea @bind-Value="Student.studentAddress" Placeholder="Enter address" MinRows="3" MaxRows="6" />
        </FormItem>

        <FormItem Label="Class">
                <Select DataSource="@classrooms"
                        @bind-Value="Student.classroomID"
                        ItemValue="c => c.Id"
                        ItemLabel="c => c.NameClassroom"
                        Style="width: 120px">
                </Select>
        </FormItem>

        <FormItem WrapperCol="new ColLayoutParam { Offset = 8, Span = 10 }" >
            <Button Block Shape="ButtonShape.Round"
                Type="ButtonType.Primary"
                HtmlType="submit"
                Style="background-color: #52c41a; border-color: #52c41a;">
                    Submit
            </Button>
        </FormItem>
        }
        
    </Form>
</Drawer>
